In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Datasets/Fruit Crops1.csv')
df.head()

    N  P   K  temperature  humidity       ph   rainfall  label
0  15  5  15     15.53450  60.24561  5.56347   60.56789  gauva
1  20  7  20     35.45996  80.59641  6.98521  100.54859  gauva
2  18  6  17     29.68014  73.45674  6.33019   78.79143  gauva
3  17  6  17     26.76198  71.45625  6.60738   76.33492  gauva
4  17  6  18     29.54617  75.43926  6.76413   79.92527  gauva

In [3]:
df.tail()

       N   P   K  temperature   humidity        ph    rainfall    label
1196  22   8  33    28.435729  95.884041  5.665785  203.928371  coconut
1197  28  27  32    28.940997  93.001090  5.764615  191.772309  coconut
1198  23  21  26    26.454887  93.450426  5.901496  149.222026  coconut
1199  37   5  34    25.794905  93.841506  5.779033  152.423871  coconut
1200  19  26  29    26.931419  98.803136  5.671549  166.571288  coconut

In [4]:
df.info

<bound method DataFrame.info of        N   P   K  temperature   humidity        ph    rainfall    label
0     15   5  15    15.534500  60.245610  5.563470   60.567890    gauva
1     20   7  20    35.459960  80.596410  6.985210  100.548590    gauva
2     18   6  17    29.680140  73.456740  6.330190   78.791430    gauva
3     17   6  17    26.761980  71.456250  6.607380   76.334920    gauva
4     17   6  18    29.546170  75.439260  6.764130   79.925270    gauva
...   ..  ..  ..          ...        ...       ...         ...      ...
1196  22   8  33    28.435729  95.884041  5.665785  203.928371  coconut
1197  28  27  32    28.940997  93.001090  5.764615  191.772309  coconut
1198  23  21  26    26.454887  93.450426  5.901496  149.222026  coconut
1199  37   5  34    25.794905  93.841506  5.779033  152.423871  coconut
1200  19  26  29    26.931419  98.803136  5.671549  166.571288  coconut

[1201 rows x 8 columns]>

In [5]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
df.shape

(1201, 8)

In [7]:
df.label.value_counts()

gauva          101
strawberry     100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
Name: label, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder().fit(df['label'])

In [9]:
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'apple': 0, 'banana': 1, 'coconut': 2, 'gauva': 3, 'grapes': 4, 'mango': 5, 'muskmelon': 6, 'orange': 7, 'papaya': 8, 'pomegranate': 9, 'strawberry': 10, 'watermelon': 11}

In [10]:
df['label'] = le.transform(df['label'])

In [11]:
df.head()

    N  P   K  temperature  humidity       ph   rainfall  label
0  15  5  15     15.53450  60.24561  5.56347   60.56789      3
1  20  7  20     35.45996  80.59641  6.98521  100.54859      3
2  18  6  17     29.68014  73.45674  6.33019   78.79143      3
3  17  6  17     26.76198  71.45625  6.60738   76.33492      3
4  17  6  18     29.54617  75.43926  6.76413   79.92527      3

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = df.drop(['label'],axis=1)
y = df['label']

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
X_train.head()

       N    P    K  temperature   humidity        ph    rainfall
1166  15   28   32    28.842710  99.643285  6.218572  224.401668
746   99   12   52    28.697083  94.307599  6.002927   22.218071
413   37   30   34    27.539075  53.635495  6.797779   99.354082
936    0   12    7    20.184323  90.654585  6.969250  116.813097
533   32  139  198    35.893075  82.668507  6.358187   66.539466

In [16]:
X_test.head()

       N   P   K  temperature   humidity        ph    rainfall
243    4  24  43    22.404235  88.150834  7.199504  109.869520
1024  34  62  55    27.585489  90.725265  6.585346  238.500878
233   21  23  42    19.541281  90.297518  6.902751  104.373988
70    16   6  16    27.432100  71.789010  6.498760   63.234560
363   91  75  55    27.486130  76.112398  6.212369  109.276885

In [17]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((960, 7), (241, 7), (960,), (241,))

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [19]:
# step1 = ColumnTransformer(transformers=[
#     ('scal_tnf',MinMaxScaler(),[0,1,2,3,4,5,6]),
# ],remainder='passthrough')

# step2 = RandomForestClassifier(n_jobs=-1, 
#                                random_state=42, 
#                                n_estimators=10,
#                                max_features=5,
#                                max_depth=40, 
#                                max_leaf_nodes=2**20)

# pipe=Pipeline([
#     ('step1',step1),
#     ('step2',step2)
# ])

# pipe.fit(X_train,y_train)

step1 = MinMaxScaler()
step2 = RandomForestClassifier(n_jobs=-1, random_state=42, n_estimators=10)
pipe = Pipeline([('step1', step1), ('step2', step2)])

pipe.fit(X_train, y_train)

Pipeline(steps=[('step1', MinMaxScaler()),
                ('step2',
                 RandomForestClassifier(n_estimators=10, n_jobs=-1,
                                        random_state=42))])

In [20]:
# import pickle
import joblib

In [25]:
# with open('../SavedModels/model.pkl', 'wb') as model_file:
#     pickle.dump(pipe, model_file)

# with open('../SavedModels/model1.pkl', 'wb') as model_file:
#     pickle.dump(pipe, model_file)

#joblib.dump(pipe, '../SavedModels/fruits.joblib')

joblib.dump(pipe, '../SavedModels/fruits1.joblib')

['../SavedModels/fruits1.joblib']

In [22]:
y_pred = pipe.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))

Accuracy: 0.995850622406639

In [23]:
for column in X.columns:
  print(column)

N
P
K
temperature
humidity
ph
rainfall

In [24]:
df = [[90,42,43,20.87,82.01,6.5,202.93]]

pipe.predict(df)[0]

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

9